What should the two-byte identifier for the `cmw_attestation` `CertificateEntry` extension be

`Entensions` on `CertificateEntry` should have a two byte type identifier:

[RFC8446 Section 4.2](https://www.rfc-editor.org/rfc/rfc8446#section-4.2)

What should this be for the `cmw_attestation` extension used in this protocol?